// 公用变量
// $webWidth: 1315px;
$headerHeight: 69px;
$primaryColor: #6672FC;
$mainColor: #131432;
$headerBg: $mainColor;
$headerMenuColor: #fff;
$headerMenuHoverColor: $headerBg;
$headerMenuBg: $headerBg;
$headerMenuHoverBg: #fff;
$siderWidth: 284px;
$siderRestrain: 40px;
$siderBg: #2e2f45;
$subMenuBg: transparent;
$subMenuColor: #fff;
$subMenuHoverColor: $subMenuColor;
$subMenuHoverBg: $primaryColor;
$menuItemColor: #C5C5CA;
$menuItemHoverColor: $primaryColor;
// $subMenu: ;
// $subMenu: ;
// $main-black: rgba(0, 0, 0, 1); // 主黑色
$linkColor: #409EFF;
$mainBtnBg: $primaryColor;
$mainBtnBg2: #44415F;
$successColor: #31A25E;
$errorColor: #FF4040;
$warnColor: #F69612;
$infoColor: #999999;